--
-- PostgreSQL database dump
--

\restrict oCEO56c1IsIrFnhY28aE9zTuLRVjksQL7LuVbFc2Ki0CTDgXSDodxwMotfnKmJd

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._user (
    id bigint NOT NULL,
    email character varying(255),
    firstname character varying(255),
    lastname character varying(255),
    password character varying(255),
    role character varying(255),
    CONSTRAINT _user_role_check CHECK (((role)::text = ANY ((ARRAY['NOVICE'::character varying, 'PRO'::character varying, 'ADMIN'::character varying])::text[])))
);


ALTER TABLE public._user OWNER TO postgres;

--
-- Name: _user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public._user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public._user_id_seq OWNER TO postgres;

--
-- Name: _user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public._user_id_seq OWNED BY public._user.id;


--
-- Name: batch; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.batch (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    current_stage character varying(255) NOT NULL,
    germination_date date NOT NULL,
    harvest_date date,
    name character varying(255) NOT NULL,
    notes character varying(1000),
    plant_count integer NOT NULL,
    strain character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    harvest_yield double precision,
    status character varying(255),
    CONSTRAINT batch_current_stage_check CHECK (((current_stage)::text = ANY ((ARRAY['GERMINATION'::character varying, 'SEEDLING'::character varying, 'VEGETATIVE'::character varying, 'FLOWERING'::character varying, 'HARVEST'::character varying, 'CURING'::character varying])::text[])))
);


ALTER TABLE public.batch OWNER TO postgres;

--
-- Name: batch_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.batch_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.batch_id_seq OWNER TO postgres;

--
-- Name: batch_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.batch_id_seq OWNED BY public.batch.id;


--
-- Name: batch_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.batch_log (
    id bigint NOT NULL,
    ec double precision,
    humidity double precision,
    notes character varying(2000),
    ph double precision,
    photo_url character varying(255),
    stage_at_time character varying(255),
    temperature double precision,
    "timestamp" timestamp(6) without time zone NOT NULL,
    batch_id bigint NOT NULL,
    type character varying(255),
    CONSTRAINT batch_log_stage_at_time_check CHECK (((stage_at_time)::text = ANY ((ARRAY['GERMINATION'::character varying, 'SEEDLING'::character varying, 'VEGETATIVE'::character varying, 'FLOWERING'::character varying, 'HARVEST'::character varying, 'CURING'::character varying])::text[])))
);


ALTER TABLE public.batch_log OWNER TO postgres;

--
-- Name: batch_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.batch_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.batch_log_id_seq OWNER TO postgres;

--
-- Name: batch_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.batch_log_id_seq OWNED BY public.batch_log.id;


--
-- Name: diagnosis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.diagnosis (
    id bigint NOT NULL,
    confidence double precision,
    corrective_action character varying(1000),
    created_at timestamp(6) without time zone,
    image_url character varying(255),
    predicted_issue character varying(255),
    user_id bigint,
    ec double precision,
    growth_stage character varying(255),
    humidity double precision,
    ph double precision,
    temperature double precision,
    user_notes character varying(500),
    visual_symptoms character varying(255)
);


ALTER TABLE public.diagnosis OWNER TO postgres;

--
-- Name: diagnosis_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.diagnosis_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.diagnosis_id_seq OWNER TO postgres;

--
-- Name: diagnosis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.diagnosis_id_seq OWNED BY public.diagnosis.id;


--
-- Name: inventory_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_item (
    id bigint NOT NULL,
    brand character varying(255),
    created_at timestamp(6) without time zone NOT NULL,
    current_quantity double precision NOT NULL,
    description character varying(1000),
    expiration_date date,
    location character varying(255),
    minimum_quantity double precision,
    name character varying(255) NOT NULL,
    strain character varying(255),
    supplier character varying(255),
    type character varying(255) NOT NULL,
    unit character varying(255) NOT NULL,
    unit_cost double precision,
    updated_at timestamp(6) without time zone,
    batch_id bigint,
    user_id bigint NOT NULL,
    CONSTRAINT inventory_item_type_check CHECK (((type)::text = ANY ((ARRAY['SEED'::character varying, 'FERTILIZER'::character varying, 'SUBSTRATE'::character varying, 'SUPPLEMENT'::character varying, 'EQUIPMENT'::character varying, 'PLANT_ACTIVE'::character varying, 'HARVEST_WET'::character varying, 'HARVEST_DRY'::character varying, 'FINAL_PRODUCT'::character varying, 'OTHER'::character varying])::text[]))),
    CONSTRAINT inventory_item_unit_check CHECK (((unit)::text = ANY ((ARRAY['UNIT'::character varying, 'GRAM'::character varying, 'KILOGRAM'::character varying, 'LITER'::character varying, 'MILLILITER'::character varying, 'PACKAGE'::character varying])::text[])))
);


ALTER TABLE public.inventory_item OWNER TO postgres;

--
-- Name: inventory_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventory_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_item_id_seq OWNER TO postgres;

--
-- Name: inventory_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventory_item_id_seq OWNED BY public.inventory_item.id;


--
-- Name: inventory_movement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_movement (
    id bigint NOT NULL,
    cost double precision,
    new_quantity double precision NOT NULL,
    notes character varying(1000),
    previous_quantity double precision NOT NULL,
    quantity double precision NOT NULL,
    "timestamp" timestamp(6) without time zone NOT NULL,
    type character varying(255) NOT NULL,
    batch_id bigint,
    inventory_item_id bigint NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT inventory_movement_type_check CHECK (((type)::text = ANY ((ARRAY['PURCHASE'::character varying, 'DONATION'::character varying, 'PRODUCTION'::character varying, 'USAGE'::character varying, 'SALE'::character varying, 'LOSS'::character varying, 'TRANSFER'::character varying, 'ADJUSTMENT'::character varying])::text[])))
);


ALTER TABLE public.inventory_movement OWNER TO postgres;

--
-- Name: inventory_movement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventory_movement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_movement_id_seq OWNER TO postgres;

--
-- Name: inventory_movement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventory_movement_id_seq OWNED BY public.inventory_movement.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    action_url character varying(255),
    created_at timestamp(6) without time zone NOT NULL,
    is_read boolean NOT NULL,
    message character varying(500),
    read_at timestamp(6) without time zone,
    title character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT notifications_type_check CHECK (((type)::text = ANY ((ARRAY['INFO'::character varying, 'SUCCESS'::character varying, 'WARNING'::character varying, 'ERROR'::character varying, 'BATCH_UPDATE'::character varying, 'INVENTORY_LOW'::character varying, 'DIAGNOSIS'::character varying])::text[])))
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports (
    id bigint NOT NULL,
    content text,
    created_at timestamp(6) without time zone NOT NULL,
    end_date timestamp(6) without time zone NOT NULL,
    file_path character varying(255),
    start_date timestamp(6) without time zone NOT NULL,
    status character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT reports_type_check CHECK (((type)::text = ANY ((ARRAY['REPROCANN_MONTHLY'::character varying, 'REPROCANN_QUARTERLY'::character varying, 'INVENTORY_SUMMARY'::character varying, 'BATCH_PRODUCTION'::character varying, 'QUALITY_CONTROL'::character varying, 'TRACEABILITY'::character varying])::text[])))
);


ALTER TABLE public.reports OWNER TO postgres;

--
-- Name: reports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reports_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reports_id_seq OWNER TO postgres;

--
-- Name: reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reports_id_seq OWNED BY public.reports.id;


--
-- Name: user_preferences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_preferences (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    ec_flower_max double precision,
    ec_flower_min double precision,
    ec_veg_max double precision,
    ec_veg_min double precision,
    humidity_flower_max double precision,
    humidity_flower_min double precision,
    humidity_veg_max double precision,
    humidity_veg_min double precision,
    ph_max double precision,
    ph_min double precision,
    temp_flower_day_max double precision,
    temp_flower_day_min double precision,
    temp_flower_night_max double precision,
    temp_flower_night_min double precision,
    temp_veg_day_max double precision,
    temp_veg_day_min double precision,
    temp_veg_night_max double precision,
    temp_veg_night_min double precision,
    updated_at timestamp(6) without time zone,
    vpd_flower_max double precision,
    vpd_flower_min double precision,
    vpd_veg_max double precision,
    vpd_veg_min double precision,
    user_id bigint NOT NULL
);


ALTER TABLE public.user_preferences OWNER TO postgres;

--
-- Name: user_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_preferences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_preferences_id_seq OWNER TO postgres;

--
-- Name: user_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_preferences_id_seq OWNED BY public.user_preferences.id;


--
-- Name: _user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._user ALTER COLUMN id SET DEFAULT nextval('public._user_id_seq'::regclass);


--
-- Name: batch id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch ALTER COLUMN id SET DEFAULT nextval('public.batch_id_seq'::regclass);


--
-- Name: batch_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch_log ALTER COLUMN id SET DEFAULT nextval('public.batch_log_id_seq'::regclass);


--
-- Name: diagnosis id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnosis ALTER COLUMN id SET DEFAULT nextval('public.diagnosis_id_seq'::regclass);


--
-- Name: inventory_item id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_item ALTER COLUMN id SET DEFAULT nextval('public.inventory_item_id_seq'::regclass);


--
-- Name: inventory_movement id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movement ALTER COLUMN id SET DEFAULT nextval('public.inventory_movement_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: reports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports ALTER COLUMN id SET DEFAULT nextval('public.reports_id_seq'::regclass);


--
-- Name: user_preferences id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences ALTER COLUMN id SET DEFAULT nextval('public.user_preferences_id_seq'::regclass);


--
-- Data for Name: _user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._user (id, email, firstname, lastname, password, role) FROM stdin;
1	lucaspaez.ar@gmail.com	Lucas	Paez	$2a$10$L8ANK8vxIP5GiTwOfqcgp.vBrQJ/e3dmPoNylaN6mjb8ZTJOohsqG	PRO
3	demo@demo.com	demo	demo	$2a$10$niLvGRfrW1HtQxgvZsaiYuCMw1wPEN5E7Tb26aZmZclsoAGQkzOt.	NOVICE
\.


--
-- Data for Name: batch; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.batch (id, created_at, current_stage, germination_date, harvest_date, name, notes, plant_count, strain, user_id, harvest_yield, status) FROM stdin;
2	2025-12-02 12:21:21.493029	SEEDLING	2025-11-07	\N	asdfsa	 sadf sda fsad fasdf adfas 	1	 asdfsad	1	\N	\N
1	2025-12-02 12:20:57.241235	FLOWERING	2025-12-05	\N	dasdsda	asd asdsda fgsdag asda gsd 	1	dasdad	1	\N	\N
\.


--
-- Data for Name: batch_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.batch_log (id, ec, humidity, notes, ph, photo_url, stage_at_time, temperature, "timestamp", batch_id, type) FROM stdin;
1	1.5	60	sdfasd fasdf as dfasd	6.5	\N	SEEDLING	24	2025-12-02 12:36:45.772932	2	\N
2	2	82	dfsa asdfsa dsdfs fsadf  sadfa	7	\N	SEEDLING	26	2025-12-02 12:37:05.84789	2	\N
3	1.5	30	asdf sadfsdf asdfs asdf asasdfa	6.5	\N	FLOWERING	28	2025-12-02 12:38:00.385118	1	\N
\.


--
-- Data for Name: diagnosis; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory_item (id, brand, created_at, current_quantity, description, expiration_date, location, minimum_quantity, name, strain, supplier, type, unit, unit_cost, updated_at, batch_id, user_id) FROM stdin;
1	\N	2025-12-02 14:15:04.36335	870	Gen├®tica propia de Santa Monta├▒a.	\N	\N	100	Semilla Santa Monta├▒a	Purple Haze	Holandes Volador	SEED	UNIT	20000	2025-12-02 14:16:22.170157	\N	1
\.


--
-- Data for Name: inventory_movement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory_movement (id, cost, new_quantity, notes, previous_quantity, quantity, "timestamp", type, batch_id, inventory_item_id, user_id) FROM stdin;
1	20000000	1000	Inventario inicial	0	1000	2025-12-02 14:15:04.379201	PURCHASE	\N	1	1
2	\N	900	Tu Kasa	1000	-100	2025-12-02 14:16:03.194061	SALE	\N	1	1
3	\N	870	Para esquejes	900	-30	2025-12-02 14:16:22.167984	USAGE	\N	1	1
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, action_url, created_at, is_read, message, read_at, title, type, user_id) FROM stdin;
\.


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reports (id, content, created_at, end_date, file_path, start_date, status, type, user_id) FROM stdin;
1	{"summary":{"totalBatches":2,"harvestedBatches":0,"activeBatches":0},"period":{"end":"2026-01-06T00:00","start":"2025-12-01T00:00"},"production":{"averagePerBatch":0.0,"unit":"g","totalYield":0.0},"inventory":{"totalItems":1,"lowStockItems":0}}	2025-12-03 19:41:43.997407	2026-01-06 00:00:00	\N	2025-12-01 00:00:00	COMPLETED	REPROCANN_MONTHLY	1
\.


--
-- Data for Name: user_preferences; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public._user_id_seq', 3, true);


--
-- Name: batch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.batch_id_seq', 2, true);


--
-- Name: batch_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.batch_log_id_seq', 3, true);


--
-- Name: diagnosis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.diagnosis_id_seq', 30, true);


--
-- Name: inventory_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_item_id_seq', 1, true);


--
-- Name: inventory_movement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_movement_id_seq', 3, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reports_id_seq', 1, true);


--
-- Name: user_preferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_preferences_id_seq', 2, true);


--
-- Name: _user _user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._user
    ADD CONSTRAINT _user_pkey PRIMARY KEY (id);


--
-- Name: batch_log batch_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch_log
    ADD CONSTRAINT batch_log_pkey PRIMARY KEY (id);


--
-- Name: batch batch_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch
    ADD CONSTRAINT batch_pkey PRIMARY KEY (id);


--
-- Name: diagnosis diagnosis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnosis
    ADD CONSTRAINT diagnosis_pkey PRIMARY KEY (id);


--
-- Name: inventory_item inventory_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_item
    ADD CONSTRAINT inventory_item_pkey PRIMARY KEY (id);


--
-- Name: inventory_movement inventory_movement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movement
    ADD CONSTRAINT inventory_movement_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: _user uk_k11y3pdtsrjgy8w9b6q4bjwrx; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._user
    ADD CONSTRAINT uk_k11y3pdtsrjgy8w9b6q4bjwrx UNIQUE (email);


--
-- Name: user_preferences uk_qy8dkrkc8b34dcgwoq2km43rd; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT uk_qy8dkrkc8b34dcgwoq2km43rd UNIQUE (user_id);


--
-- Name: user_preferences user_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_pkey PRIMARY KEY (id);


--
-- Name: batch fk367ughnyq79n0g5u86lcxki8p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch
    ADD CONSTRAINT fk367ughnyq79n0g5u86lcxki8p FOREIGN KEY (user_id) REFERENCES public._user(id);


--
-- Name: inventory_movement fk6i70kldv5frfqdourv5hkcuf3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movement
    ADD CONSTRAINT fk6i70kldv5frfqdourv5hkcuf3 FOREIGN KEY (inventory_item_id) REFERENCES public.inventory_item(id);


--
-- Name: inventory_movement fk9d5oqs2m8f9amfn7vyi01cc77; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movement
    ADD CONSTRAINT fk9d5oqs2m8f9amfn7vyi01cc77 FOREIGN KEY (batch_id) REFERENCES public.batch(id);


--
-- Name: reports fkiyvc3b4o1pj2j5sr30u0amd7n; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT fkiyvc3b4o1pj2j5sr30u0amd7n FOREIGN KEY (user_id) REFERENCES public._user(id);


--
-- Name: notifications fkj3cxfyal6fn73tgnpfb4dbice; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fkj3cxfyal6fn73tgnpfb4dbice FOREIGN KEY (user_id) REFERENCES public._user(id);


--
-- Name: inventory_item fkmj3ndwpgh7ohu8tbh0g31d4h4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_item
    ADD CONSTRAINT fkmj3ndwpgh7ohu8tbh0g31d4h4 FOREIGN KEY (user_id) REFERENCES public._user(id);


--
-- Name: inventory_item fkndwc6b5lx75rw7iion8d50upi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_item
    ADD CONSTRAINT fkndwc6b5lx75rw7iion8d50upi FOREIGN KEY (batch_id) REFERENCES public.batch(id);


--
-- Name: inventory_movement fknutvkabxsybjffk94tsy92tgo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movement
    ADD CONSTRAINT fknutvkabxsybjffk94tsy92tgo FOREIGN KEY (user_id) REFERENCES public._user(id);


--
-- Name: batch_log fkpkyvf0en24pj42salturqnb44; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch_log
    ADD CONSTRAINT fkpkyvf0en24pj42salturqnb44 FOREIGN KEY (batch_id) REFERENCES public.batch(id);


--
-- Name: user_preferences fkrv215x9gwp5ji5ruo4u4yj5uu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT fkrv215x9gwp5ji5ruo4u4yj5uu FOREIGN KEY (user_id) REFERENCES public._user(id);


--
-- Name: diagnosis fks2u44ungpdahgwwyesdj3kf5o; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnosis
    ADD CONSTRAINT fks2u44ungpdahgwwyesdj3kf5o FOREIGN KEY (user_id) REFERENCES public._user(id);


--
-- PostgreSQL database dump complete
--

\unrestrict oCEO56c1IsIrFnhY28aE9zTuLRVjksQL7LuVbFc2Ki0CTDgXSDodxwMotfnKmJd

